.a 
{
    background-image: "https://i.pinimg.com/originals/e3/e3/2c/e3e32c1f0acddffed031b6bc78ebbb3f.png";
}


.auth-container {
    background-image: url("https://wallpapercave.com/wp/wp8465834.jpghttps://tse1.mm.bing.net/th?id=OIP.6nTqLmGMjMqyxAXnGuhcsQHaEo&pid=Api&P=0&h=180");
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    box-sizing: border-box; 
}


.auth-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}


.auth-container input {
    width: 100%;  
    padding: 12px 15px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
}


.auth-container button {
    width: 100%;
    padding: 12px 15px;
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box; 
}

.auth-container button:hover {
    background-color: #218838;
}


.auth-container input:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}